
header {
  text-align: center;
  font-style: italic;
  color: aqua;
}


body {
  padding: 10px;
  font-family: sans-serif;
}

.boxContainer {
  width: 320px;
  height: 320px;
  margin: 50px auto 0 auto;
}


.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 23px;
}

.box:nth-child(1), .box:nth-child(2), .box:nth-child(3) {
  border-top: 0;
}

.box:nth-child(7), .box:nth-child(8), .box:nth-child(9) {
  border-bottom: 0;
}

.box:nth-child(3n) {
  border-right: 0;
}

.box:nth-child(3n+1) {
  border-left: 0;
}

.box:hover {
  background-color: #eee;
}

.state {
  text-align: center;
  color: crimson;
}

.btn {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}